@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar {
  width: 100%;
  border: none !important;
  font-size: 1rem;
  padding: 1rem;
}

.react-calendar {
  width: 100% !important;
  max-width: none !important;
  border: none !important;
}

.react-calendar__month-view__weekdays {
  font-weight: 700;
  text-transform: uppercase;
}

.react-calendar__tile {
  height: 70px;
  position: relative;
  border-radius: 10px;
}

.react-calendar__tile:hover {
  background: #f0fdf4;
}
.react-calendar__navigation button {
  font-size: 1.1rem;
  font-weight: 600;
}

.react-calendar__month-view__weekdays {
  font-weight: 700;
  text-transform: uppercase;
}

.react-calendar__tile--active {
  background: #dcfce7 !important;
  color: black !important;
  border-radius: 12px;
}
html {

  scroll-behavior: smooth;

}